<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:bukualamat/**/applicationContext.xml
		</param-value>
	</context-param>

	<listener>
		<description>Listener Spring, menginstankan context pada startup</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>DaftarGrup</servlet-name>
		<servlet-class>bukualamat.ui.servlet.DaftarGrup</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditGrup</servlet-name>
		<servlet-class>bukualamat.ui.servlet.EditGrup</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DaftarGrup</servlet-name>
		<url-pattern>/grup/list.asp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditGrup</servlet-name>
		<url-pattern>/grup/edit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditGrup</servlet-name>
		<url-pattern>/grup/simpan</url-pattern>
	</servlet-mapping>
	

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
